<!doctype html>
<html>
    <head>
        <title>Welcome to <%=shopName%></title>
        <link rel="stylesheet" type="text/css" href="main.css">
    </head>
    <body>
        <h1>Login Panel: <%=shopName%></h1>
        <form method="POST" action="/loggedin">
            <p>Username: <input id="username" type="text" name="username" value=""/></p>
            <p>Password: <input id="password" type="password" name="password" value=""/></p>
            <input type="submit" value="login"/>
        </form>
    </body>
</html>
