<!doctype html>
<html>
  <head>
    <title>Register for <%=shopName%></title>
    <link rel="stylesheet"  type="text/css" href="main.css" />
  </head>
  <body>
    <h1>Register for <%=shopName%></h1>
    <form method="POST" action="/registered">
        <p>Username: <input id="appuser" type="appuser" name="appuser" value="appuser"/></p>
        <p>Email: <input id="email" type="email" name="email" value="email" /></p>
        <p>Password: <input id="password" type="password" name="password" value="password"/></p>
        <input type="submit" value="Register" />
      </form>
  </body>
</html>